{% extends 'layout.html' %}


{% block title %}

About Page

{% endblock %}


{% block body_block %}

<br>

<h2 style="color:white;">✏ABOUT US</h2>
<br>
<br>
<h3 style="color:white;">🚩OUR MISSION</h3>
<h4 style="color:white;">To connect the students to make them more productive and successful.</h4>
<br>
<h3 style="color:white;">👀Key Points</h3>
<ol>
    <h4 style="color:white;">🔷Motivate Students</h4>
    <h4 style="color:white;">🔷Help them remember what content they covered</h4>
    <h4 style="color:white;">🔷help assess what they learned</h4>
</ol>
<br>
<br>

<h3 style="color:white;">🚩OUR VISION</h3>
<h4 style="color:white;">
    <p>
        This supports differentiation and provide pre-teaching indicators, assessment of learning,self-assessment,
        and summative information and progress.This gives a great help for revision. And also a fun tool to enthusiase
        students to engage their learning.
    </p>
</h4>

<br>
<br>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
     
<div class="container">
  <div class="content">
    <div class="left-side">

      

      <div class="address details" style="color:white;">
<!--        <a href="https://admin.google.com/u/0/ServiceNotAllowed?service=local&hl=en"><i class="fas fa-map-marker-alt"></i></a>-->
        <div class="topic"><h4 style="color:white;"><strong>Address</strong></h4></div>

        <div class="text-one" style="color:white;">Skill Test Quizzes</div>
        <div class="text-one" style="color:white;">#77 SS Tower, 3rd Floor</div>
        <div class="text-one" style="color:white;">Kothnur Main Road, J P Nagar 7th Phase</div>
        <div class="text-two" style="color:white;">Bengaluru, Karnataka PIN-5600078</div>
      </div>

      <br>

      <div class="phone details" style="color:white;">
        <i class="fas fa-phone-alt"></i>
        <div class="topic"><h4 style="color:white;"><strong>Phone</strong></h4></div>
        <div class="text-one" style="color:white;">+91 7892260476</div>
        <div class="text-two" style="color:white;">+91 9902126849</div>
      </div>

      <br>

      <div class="email details" style="color:white;">
        <i class="fas fa-envelope"></i>
        <div class="topic"><h4 style="color:white;"><strong>Email</strong></h4></div>
        <div class="text-one" style="color:white;">namratagaland@gmail.com</div>
        <div class="text-two" style="color:white;">roshan49@gmail.com</div>
        <div class="text-two" style="color:white;">rharshith387@gmail.com</div>
      </div>

    </div>
  </div>
</div>

<br>


<h3 style="color:white;">🚩For more information and queries click on contact and fill your details.</h3>

<br>

{%  endblock  %}