{% extends 'layout.html' %}


{% block title %}

Home Page

{% endblock %}


{% block body_block %}

<br>

<h1 style="text-align:center; color:white;" >Welcome To The Quiz</h1>

<br>

<br>
  <h2 style="color:#FFF; font-style:roman;"> 💡Instructions💡 </h2>

    <h3 style="color:#FFF;">🕐Firstly, Register and Login to take up the Quiz.</h3>

    <h3 style="color:#FFF;">🕐Each Domain of the quiz contains 20 questions.</h3>

    <h3 style="color:#FFF;">🕐For each correct answer there will be a credit of 1 score.</h3>

    <h3 style="color:#FFF;">🕐There is no negative score for incorrect answer.</h3>

    <h3 style="color:#FFF;">🕐Choose the Domain from your profile Page.</h3>

<br>
<br>

    <h2 style="color:#FFF; text-align:center;"><marquee behaviour=slide><b>👍All the best for your Quiz👍</b></marquee></h2>


<!--<img src="css/pic.jpg" alt="Trulli" width="500" height="333">-->
<!--<img src="static/css/pic.jpg" align="middle" class="center">-->
<style>

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

  img{
     border-radius: 8px;
  }

</style>

{% endblock %}